<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar w/ text</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['precios']">Precios</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="_authService.isAuthenticated()">
        <a class="nav-link" [routerLink]="['protegida']">Protegida</a>
      </li>
    </ul>
    <span class="navbar-text">
      <button *ngIf="!_authService.isAuthenticated()" (click)="login()" class="btn btn-sm btn-outline-primary">Ingresar</button>
      <button *ngIf="_authService.isAuthenticated()" (click)="salir()" class="btn btn-sm btn-outline-primary">Salir</button>
    </span>
  </div>
</nav>